* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-clr: rgb(0, 151, 171);
}

.container {
    width: 100%;
    padding: 12px;
    margin: 0 auto;
}

@media(min-width: 768px) {
    .container {
        width: 70%;
    }
}

/* header */
.header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: linear-gradient(90deg, var(--main-clr), rgb(8, 145, 219));
}

.header .container {
    color: #fff;
}

.header .container h2 {
    width: fit-content;
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto;
    font-family: 'Noto Nastaliq Urdu', serif;
}

.header .container h2 i {
    font-size: 24px;
    margin: 0px 4px;
}

/* zikrs */
.zikrs {
    display: flex;
    flex-direction: column;
}

.zikrs h1 {
    text-align: end;
    padding: 32px 6px 16px;
}

.zikrs .zikr {
    padding: 8px;
    position: relative;
    border-radius: 8px;
    margin-bottom: 21px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #444;
}

.zikrs .zikr .text {
    text-align: center;
    font-size: 24px;
    padding: 21px 6px 32px;
}

.zikrs .zikr .text i {
    font-size: 21px;
    position: absolute;
    top: 0;
    left: 0;
}

.zikrs .zikr .counter {
    width: fit-content;
    margin: 0 auto;
    padding-left: 8px;
    display: flex;
    font-size: 24px;
    border-radius: 50vh;
    border: 1px solid #333;
    overflow: hidden;
}

.zikrs .zikr .counter .number {
    width: 50px;
    margin: auto 0;
}

.zikrs .zikr .counter .btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--main-clr);
    border-radius: 50vh;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.zikrs .zikr .counter .btn i {
    padding-left: 3px;
}

.footer {
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 24px;
}

.footer p {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 12px;
}

.footer a {
    text-align: center;
    font-size: 21px;
    padding: 50px 0;
}
